# Acesse https://aistudio.google.com
API_GEMINI_KEY= # SUA API KEY DO GEMINI

# Utilize o arquivo list.py para listar os modelos para possivel uso
MODEL= # MODELO ESCOLHIDO

# Caminhos para pasta de entrada e saida de arquivos .pdf
INPUT_PATH=/home/guilherme/parser-pdf-OCR/input
OUTPUT_PATH=/home/guilherme/parser-pdf-OCR/output
